name: Deploy QST

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
          kubectl version --client
      
      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Deploy Frontend
        run: kubectl apply -f k8s/frontend-deployment.yml

      - name: Deploy Backend
        run: kubectl apply -f k8s/backend-deployment.yml

      - name: Deploy Database
        run: kubectl apply -f k8s/mysql-deployment.yml
